.reports-container{

padding:30px;

}



/* Header */


.reports-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}


.reports-header h1{

font-size:32px;

color:#111827;

}





/* Buttons */


.report-actions button{

margin-left:10px;

padding:12px 20px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

transition:0.3s;

}




.export-btn{

background:#2563eb;

color:white;

}


.export-btn:hover{

background:#1d4ed8;

}




.clear-btn{

background:#dc2626;

color:white;

}



.clear-btn:hover{

background:#b91c1c;

}

/* Search */


.search-box{

width:100%;

padding:14px;

margin-bottom:30px;

border-radius:10px;

border:1px solid #ccc;

font-size:15px;

}

/* Grid */


.reports-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}


/* Card */


.report-card{


background:white;

padding:25px;

border-radius:18px;

box-shadow:
0px 10px 25px rgba(0,0,0,0.08);

transition:0.3s;

}



.report-card:hover{

transform:translateY(-5px);

box-shadow:
0px 15px 35px rgba(0,0,0,0.15);

}


.card-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.card-header h2{

font-size:22px;

color:#1f2937;

}


/* Risk */


.risk{

padding:6px 14px;

border-radius:20px;

font-size:13px;

font-weight:600;

}



.low{

background:#22c55e;

color:white;

}



.medium{

background:#facc15;

color:black;

}



.high{

background:#ef4444;

color:white;

}


/* Score bar */


.score-bar{

height:10px;

width:100%;

background:#e5e7eb;

border-radius:10px;

overflow:hidden;

}



.score-fill{

height:100%;

background:#2563eb;

border-radius:10px;

}







/* Delete */


.delete-btn{


width:100%;

padding:12px;

margin-top:20px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

}



.delete-btn:hover{

background:#dc2626;

}


/* Empty */

.no-report{

text-align:center;

margin-top:80px;

color:#6b7280;

}


/* Mobile */


@media(max-width:600px){


.reports-container{

padding:15px;

}



.reports-header{

flex-direction:column;

align-items:flex-start;

gap:15px;

}



.report-actions button{

margin-left:0;

margin-right:10px;

}



}